{% extends 'layout.html' %}
{% load static %}


{% block body%}
<!--search bar-->
<div class="container">
<form style="padding:3px;box-sizing:border-box;">
   {% csrf_token %}


    <div class="form-row">
        <div class="form-group col-md-4">
    <label for="exampleInputEmail1">İlan Başlığı</label>
    <input type="text" name="keyword" class="form-control" id="exampleInputEmail1">

        </div>
    <div class="form-group col-md-4" >
    <label for="exampleInputEmail1">Düşük Fiyat</label>
    <input type="number" name="lowprc" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group col-md-4" >
    <label for="exampleInputEmail1">Yüksek Fiyat</label>
    <input type="number" name="hprc" class="form-control" id="exampleInputEmail1">

            </div>
  <div class="form-group col-md-4">
      <label for="inputState">Vites</label>
      <select id="inputState" name="gear" class="form-control">

          {% for g in gears%}
            <option value="{{g}}">{{g}}</option>
          {% endfor %}
      </select>

    </div>

        <div class="form-group col-md-4">
      <label for="inputState">Marka</label>
      <select id="inputState" name="mark" class="form-control">

          {% for mark in marks%}
            <option value="{{mark}}">{{mark}}</option>
          {% endfor %}
      </select>

    </div>

        <div class="form-group col-md-4">
      <label for="inputState">Model</label>
      <select id="inputState" name="mdl" class="form-control">

          {% for mod in mods%}
            <option value="{{mod}}">{{mod}}</option>
          {% endfor %}
      </select>

    </div>



  <button type="submit" class="btn btn-primary">Ara</button>
    </div>



</form>


    </div>
<!--serch bar end-->



            <div class="container"style="margin-top:100px;">
              <div class="row clearfix r-best-offer-list">
                  {% for car in cars %}
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="r-best-offer-single">
                    <div class="r-best-offer-in">
                      <div class="r-offer-img">
                          {% if car.car_img1 %}
                            <a class="d-inline-block" style="image-size:250px 156px;" href="#"><img src="{{car.car_img1.url}}" class="img-fluid d-block m-auto" alt=""></a>
                            {% else %}
                            <a class="d-inline-block" style="image-size:250px 156px;" href="#"><img src="{% static 'default.jpg'%}" alt="" class="img-fluid" /></a>
                            {% endif %}

                        <div class="r-offer-img-over">
                          <i class="fa fa-search"></i>
                        </div>
                      </div>
                      <div class="r-best-offer-content">
                        <a href="/cars/car/{{car.id}}"><b>{{car.title}}</b></a>
                        <p> <b>{{car.price}} TL</b> </p>
                        <ul class="pl-0 mb-0">
                          <li><i class="fa fa-car"></i><span>{{car.year}}</span></li>
                          <li><i class="fa fa-cogs"></i><span>{{car.gear}}</span></li>
                          <li><i class="fa fa-beer"></i><span>{{car.km}}</span></li>

                        </ul>
                      </div>
                      <div class="r-offer-rewst-this">
                        <span class="text-uppercase">Rent this car</span>
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}
                  </div>
                </div>




{% endblock body %}